$body-bg: #e7e7e7;
$main-bg: #fff;
$border-color: #000;
$header-color: #1576bb;

$shadow-color: #585757 rbga(136, 136, 136, 0.5);
$link-color: #270ee3;
$link-hover: #e8d60b;
$remove-button: #e8760b;
$font-color: #000000;
$inverse-font-color: #ffffff;
$go-button: #33ff00;